* {
  box-sizing: border-box;
}

html {
  background: #101014;
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background: #101014;
  color: white;
}

button,
input {
  font-family: inherit;
}

button {
  transition: 0.2s;
}

button:active {
  transform: scale(0.95);
}

img {
  display: block;
}